* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ================NAVBAR STYLE===================*/

.navbar {
    padding: 0px 15px 0px 15px;
    background-color: rgba(0, 0, 0, 1.0);
}

.navbar-brand>img {
    height: 50px;
}

.navbar-nav>li {
    padding-right: 15px;
    margin: auto;
}

.navbar .navbar-nav .active>.nav-link {
    color: red !important;
}

.navbar-nav a {
    font-size: 1.75em;
    color: yellow !important;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: .5s;
    text-align: center;
}

.navbar-nav a:hover {
    color: white !important;
    transition: .5s;
}

#smallNavText {
    color: yellow !important;
    font-size: 2em !important;
}

.navbar .dropdown-menu {
    background-color: #000;
}

.facebook-link:hover {
    background-color: #4267B2;
}

.youtube-link:hover {
    background-color: #FF0000;
}

.wiki-link:hover {
    background-color: #fff;
    color: #000 !important;
}

.InsidePageLinks {
    position: absolute;
    left: -750px;
    top: inherit;
}

#highContrastSwitch{
    color: lime;
    background: transparent;
    border: none;
    transition: .5s;
    font-size: 1.5em;
}

#highContrastSwitch:hover{
    transform: scale(1.1);
    transition: .5s;
    color: red;   
}

/* ================HERO STYLE===================*/

.hero-element {
    height: 500px;
    z-index: -1;
    padding: 0;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
}

.h-main {
    background-image: url("../img/Hero.png");
}

.h-classic {
    background-image: url("../img/HeroClassic.png");
}

.h-doctors {
    background-image: url("../img/alldoctors.png");
    background-position: center top;
}

.h-newWho {
    background-image: url("../img/NewWhoHero.jpg");
    background-position: center top;
}

#PageTitleHero h1 {
    color: limegreen;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px black;
}

#PageTitleHero_D h1 {
    color: yellow;
    text-align: center;
    text-shadow: 2px 2px black;
}

#PageTitleHero {
    height: inherit;
    display: flex;
    justify-content: center;
}

#PageTitleHero_D {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 830px) {
    #T_First, #T_First_D {
        font-size: 1.35em;
    }
    #T_Second {
        font-size: 1em;
    }
}

@media (min-width: 830px) {
    #T_First, #T_First_D {
        font-size: 3.2em;
    }
    #T_Second {
        font-size: 1.5em;
    }
}

/* ================SECTION STYLE===================*/

.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #000;
}

.sectionHeader-small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 120px;
    background-color: #000;
    text-shadow: 2px 2px #000;
}

.smallSeparator {
    padding-top: 80px;
}

.sectionHeader h2, h3 {
    color: limegreen;
    font-family: 'Arnold', Arial, Helvetica, sans-serif;
    font-weight: 800;
    z-index: 5;
}

.sectionHeader-small h3 {
    margin-left: 5%;
}

@media (max-width: 768px) {
    .sectionHeader .jc {
        justify-content: center;
    }
    .sectionHeader h2 {
        margin: auto;
        margin-bottom: 0;
        padding-bottom: 5px;
        font-size: 2.5em;
        text-align: center;
    }
    .sectionHeader h3 {
        font-size: 2.1em;
        text-align: center;
    }
    .sectionHeader hr {
        height: 1px;
        background-color: limegreen;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .sectionHeader img {
        max-height: 100px;
    }
}

@media (min-width: 768px) {
    .sectionHeader h2 {
        padding-top: 45px;
        margin-left: 15%;
        margin-bottom: 0;
        font-size: 4.5em;
    }
    .sectionHeader h3 {
        margin-left: 20%;
        font-size: 3.5em;
        padding-top: 0px;
    }
    .sectionHeader hr {
        height: 1px;
        background-color: limegreen;
        margin-left: 10%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

#kezdolaptitle {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
}

#kezdolaptitle img {
    padding-right: 15px;
}

.sectionContent {
    padding-bottom: 90px;
    background-color: #000;
}

.sectionContent a:link {
    text-decoration: underline;
    font-weight: bold;
    color: lightskyblue;
}

.sectionContent a:visited {
    color: magenta;
}

.mydark-bg {
    background-color: #000;
}

.my-col-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mylight-bg {
    background-color: #000;
}

.mydkblue-bg {
    background-color: #000;
}

@media (max-width: 992px) {
    .pd0-medium {
        padding: 0px;
    }
    .nm-medium {
        margin: 0px;
        max-width: 100%;
    }
}

article p {
    line-height: 2em;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 30px;
    text-align: justify;
    color: lime;
}

@media (max-width: 576px) {
    article p {
        line-height: 2em;
        font-size: 1em;
    }
}

article h4 {
    font-style: italic;
    text-align: left;
    padding-top: 10px;
    color: orange;
    font-size: 2.2em;
}

aside {
    border-radius: 15px 5px 15px 5px;
    padding: 10px 10px;
    text-align: justify;
    background-color: #000;
    border: 1px solid white;
    color: lime;
    font-size: 1.2em;
    text-shadow: 1px 1px black;
}

@media (max-width: 576px)
{
    aside{
        font-size: 1em;
    }
}

aside h4 {
    font-style: italic;
    color: orange;
}

#trailerCaption {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 4%;
    margin-bottom: 0;
    color: limegreen;
}

.mediaArea {
    margin-top: 40px;
}

.media-video {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

#gallifreyImageBackground {
    background-color: #000;
    text-align: center;
}

.sectionSepImgContainer {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .sectionHeader img {
        max-height: 130px;
    }
}

.MainText {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    padding-top: 35px;
    text-align: justify;
    color: lime;
}

.MainText b{
    color: lightcyan;
}

@media (max-width: 768px) {
    article, .MainText {
        font-size: 1.4em;
    }
}

#tardisOnStreet {
    margin: auto;
    margin-top: 60px;
    padding: 2px 2px;
}

figure, figcaption {
    text-align: center;
}

#tardisOnStreet img {
    max-height: 400px;
}

.preview {
    transition: .5s;
}

.preview:hover {
    transform: scale(1.03);
    opacity: 0.9;
    transition: .5s;
}

/* TABLE STYLE*/

#szakaszTable {
    margin: 80px auto;
    text-align: center;
}

table, th, td {
    border: 1px solid white;
}

table caption {
    text-align: center;
}

#szakaszTable caption table {
    margin: 10px auto;
}

table caption{
    color: lime;
}

#szakaszTable caption td {
    padding: 0px 0px;
}

@media (min-width: 768px) {
    #szakaszTable th, td {
        padding: 15px 25px 15px 25px;
    }
}

@media (max-width: 768px) {
    table td ul {
        padding-left: 25px;
    }
}

@media (max-width: 576px) {
    #szakaszTable {
        font-size: 0.6em;
    }
}

#szakaszTable th {
    background-color: #040718ee;
    color: lime;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
}

#szakaszTable td{
    color: lime;
}

#szakaszTable tr:nth-child(3) {
    text-align: left;
    vertical-align: top;
}

.table-recommended-bg {
    background-color: green;
    color: #000 !important;
}

.table-notrecommended-bg {
    background-color: red;
    color: #000 !important;
}

.table-mild-recommended-bg {
    background-color: #ffc601;
    color: #000 !important;
}

.table-recommended {
    color: green;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.table-notrecommended {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.table-mild-recommended {
    color: #ffc601;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.monster-table {
    background-color: #efefef;
}

.monster-table th {
    text-align: center;
}

.monster-table tr td:first-child {
    font-weight: bold;
}

/* HIRLEVEL STYLE*/

#hirlevel {
    background-color: #000;
    color: lime;
    padding-top: 30px;
}

#hirlevel hr {
    background-color: limegreen;
    height: 3px;
    margin-left: 15%;
    border-radius: 4px;
}

#hirlevel h2 {
    margin-left: 10%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 3em;
}

#hirlevel p {
    text-align: justify;
    /*text-shadow: 2px 2px rgba(0,0,0,0.4);*/
    color: #000;
    font-weight: 600;
    font-size: 1.5em;
}

/* HIRLEVEL FORM */

#hirlevel form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    background-color: #111111;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid white;
}

#hirlevel legend{
    color: red;
}

#hirlevel form input, #hirlevel form textarea{
    background-color: #000;
    color: cyan;
    font-size: 1.4em;
}

#hirlevel form input::placeholder, #hirlevel form textarea::placeholder{
    color: cyan;
}

@media(max-width: 780px) {
    #hirlevel h2 {
        font-size: 2rem;
    }
    .textInput {
        width: 85%;
        padding: 2px 10px;
        border-radius: 6px 6px;
    }
    #hirlevel form label {
        font-size: 0.8em;
    }
    #hirlevel p {
        font-size: 1em;
    }
}

@media(min-width: 780px) {
    .textInput {
        padding: 2px 10px;
        border-radius: 6px 6px;
    }
}

#hirlevel form label {
    color: lime;
    font-weight: bold;
}

#lv1, #lv2 {
    padding: 0px 10px 10px 10px;
}

#hirlevel form legend {
    text-shadow: 1px 1px black;
    text-align: center;
}

.myformButton {
    background-color: transparent;
    border: 3px solid white;
    color: yellow;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 15px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    transition: .5s;
    margin: 10px 5px;
}

.myformButton:hover {
    transition: .5s;
    color: #c70009;
    border-color: #c70009;
}

.myformButton:focus {
    transition: .5s;
    color: #0024c7;
    border-color: #0024c7;
}

/* FOOTER STYLE */

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #020202;
}

footer h1, footer a {
    color: yellow;
    text-decoration: none;
    font-weight: 800;
}

footer a:hover {
    color: lime;
    text-decoration: none;
}

@media (max-width: 576px) {
    footer h1, footer a {
        font-size: 1rem;
    }
}