
@media print{

    *{
      color: black !important;
    }
    
    nav,
    footer,
    #hirlevel,
    .sectionHeader img,
    #gallifreyImageBackground,
    .emptyHeader {
       display: none !important;
    }
    .hero-element {
        height: 250px !important;
        background: none !important;
    }
    .sectionHeader{
        background: none !important;
        height: 80px !important;
    }

    .sectionHeader:first-of-type{
        padding-bottom: 40px !important;
    }

    .sectionContent{
        padding-top: 15px !important;
        background: none !important;
    }

    aside{
        background: none !important;
        border: 1px solid black !important;
    }

    section:not(:first-of-type){
        page-break-before: always !important;
    }

    .smallSeparator:not(:first-of-type){
        page-break-before: always !important;
    }

    .smallSeparator{
        padding: 0px 0px !important;
        background: none !important;
    }

    .sectionHeader-small
    {
        background: none !important;
        height: 50px !important;
    }

    #monsters{
        height: 100px !important;
        margin-top: 0px !important;
        padding: 0px 0px !important;
    }

    DWarticle{
        padding-bottom: 30px !important;
    }

    .MainText{
        padding-top: 15px !important;
    }

    .mylight-bg, .mydkblue-bg{
        background: none !important;
    }

    #szakaszTable{
        page-break-before: always !important;
    }

    .pr-auto{
        page-break-before: auto !important;
    }
}